* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.03em;
  scroll-behavior: smooth;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
}

.burger-nav-icon {
  width: 40px;
  height: 100%;
  cursor: pointer;
}

.header-home {
  display: flex;
  flex-direction: column;
  padding: 2rem 2.5rem;
}
.header-home-logo {
  margin-top: 1rem;
  margin-right: 1rem;
}
.header-home-record {
  width: 40px;
}

.hero {
  background: url(../../images/pictures/art-mural.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 85vh;
  display: flex;
  justify-content: center;
}
.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}
.hero-section-title {
  margin-top: 3rem;
  color: #fff;
}
.hero-section-arrow {
  width: 45px;
  animation: arrowPulse 550ms ease-in-out infinite alternate;
}
@keyframes arrowPulse {
  from {
    transform: translate3d(0, 8px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

.hero-section-link {
  outline: none;
}

.artists {
  background-color: #8fe4e1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.artists-title {
  font-weight: 600;
  font-size: 2.5rem;
}
.artists-section {
  margin: 2rem;
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 450px));
  grid-gap: 2rem;
}

@media screen and (max-width: 57em) {
  .header-home-logo {
    width: calc(12rem + 8vw);
  }

  .hero-section-title {
    margin-top: 7rem;
  }

  .artists-section {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
.artists-section-link {
  transition: all 250ms ease;
  transform: translateZ(0);
}
.artists-section-link:hover {
  transform: translate3d(0, -6px, 0);
  box-shadow: 0 4px 14px rgba(61, 112, 110, 0.3);
}

.artists-section-fig {
  width: 100%;
}
.artists-section-fig-img {
  width: 100%;
}
.artists-section-fig-title {
  margin-top: 1rem;
  font-weight: 400;
  font-size: 1.5rem;
  text-align: center;
  color: #000;
}

.footer-home {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
.footer-home-copyright {
  font-weight: 300;
  font-size: 1.05rem;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 360px;
  height: 100%;
  padding: 4rem 2rem;
  background-color: #f7f7f7;
  transform: translate3d(-100%, 0, 0);
  z-index: 10;
  transition: transform 350ms ease-in-out;
}
.nav-section-home {
  font-size: 1.75rem;
}
.nav-section-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-section-close {
  width: 25px;
  cursor: pointer;
}
.nav-artists {
  margin-top: 4rem;
}
.nav-artists-title {
  font-size: 1.75rem;
  font-weight: 400;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.nav-list {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  list-style: none;
}
.nav-item {
  display: block;
  width: 100%;
}
.nav-item-link {
  width: 100%;
  display: block;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: 400;
}

.nav-active {
  transform: translate3d(0, 0, 0);
}

.header-page {
  position: absolute;
  z-index: 1;
  top: 2rem;
  left: 2.5rem;
}

.landing-page-container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.landing-left {
  grid-column: 1/2;
  grid-row: 1/3;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
}
.landing-left-title {
  font-size: 2.5rem;
  color: #fff;
}

.landing-right-top {
  grid-column: 2/3;
  grid-row: 1/2;
  background-color: lightgreen;
}

.landing-right-bottom {
  grid-column: 2/3;
  grid-row: 2/3;
  background-color: coral;
}

.landing-left,
.landing-right-top,
.landing-right-bottom {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.album-list {
  list-style: none;
}

.landing-right-top,
.landing-right-bottom {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.landing-right-top-title {
  font-size: 2rem;
  font-weight: 400;
}

.album-list {
  padding-top: 2rem;
}
.album-list-song {
  padding-left: 0.5rem;
  font-size: 1.5rem;
  font-weight: 300;
}

.landing-cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.landing-cta-title {
  font-size: 2rem;
  font-weight: 400;
}
.landing-cta-arrow {
  width: 40px;
}

.landing-left-title {
  font-size: 3rem;
}

.page-main {
  padding-left: 4rem;
  display: grid;
  grid-column-gap: 10rem;
  grid-template-columns: 7fr 2fr;
  grid-template-rows: 150px 150px 1fr 150px;
  grid-template-areas: "social sidebar" "tabs sidebar" "panel sidebar" "footer sidebar";
}

.social {
  grid-area: social;
  display: flex;
  align-items: flex-end;
}
.social-link {
  margin-right: 0.5rem;
}

.tab-list {
  grid-area: tabs;
  list-style: none;
}
.tab-list-tab {
  margin-right: 1rem;
  border-bottom: 1px solid #000;
  cursor: pointer;
  transition: color 200ms ease;
  font-size: 1.2rem;
}

.panel {
  grid-area: panel;
}

.history-title,
.work-title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.sidebar {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 6rem 4rem;
}
.sidebar-fig:first-child {
  padding-bottom: 4rem;
}

.page-footer {
  grid-area: footer;
}

.tab-list,
.page-footer {
  display: flex;
  align-items: center;
}

.sidebar-fig {
  width: 290px;
}
.sidebar-fig-img {
  width: 100%;
}

.social-link {
  display: inline-block;
  width: 40px;
}
.social-link-icon {
  width: 100%;
}

p + p {
  margin-top: 2rem;
}

.panel {
  display: none;
}

.panel.-showing {
  display: block;
  animation: fadeIn 1200ms ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.uv-landing-left {
  background-image: url(../../images/pictures/purple-rain.jpg);
}

.uv-landing-right-top {
  background-color: #7d7bd8;
}

.uv-landing-right-bottom {
  background-image: url(../../images/pictures/fashion-woman-holding-record.jpg);
  background-position: top center;
}

.uv-sidebar {
  background-color: #7d7bd8;
}

.uv-history-title,
.uv-work-title,
.uv-tab:hover {
  color: #7d7bd8;
}

.liquid-landing-left {
  background-image: url(../../images/pictures/blue-blur-close-up-433108.jpg);
}

.liquid-landing-right-top {
  background-color: #026888;
}

.liquid-landing-right-bottom {
  background-color: #f1f1f1;
  color: #000;
}

.liquid-sidebar {
  background-color: #026888;
}

.liquid-history-title,
.liquid-work-title,
.liquid-tab:hover {
  color: #026888;
}

.cutting-landing-left {
  background-image: url(../../images/pictures/cutting-perspective.jpg);
}

.cutting-title {
  color: #000;
  text-shadow: -2px -2px 4px #fff;
}

.cutting-landing-right-top {
  background-color: #3e465b;
}

.cutting-landing-right-bottom {
  background-color: #f1f1f1;
  color: #000;
}

.cutting-sidebar {
  background-color: #3e465b;
}

.cutting-history-title,
.cutting-work-title,
.cutting-tab:hover {
  color: #3e465b;
}

/*# sourceMappingURL=style.css.map */
