$cutting-blue: #3e465b;

.cutting-landing-left {
    background-image: url(../../images/pictures/cutting-perspective.jpg);
}

.cutting-title {
    color: #000;
    text-shadow: -2px -2px 4px #fff;
}

.cutting-landing-right-top {
    background-color: $cutting-blue;
}

.cutting-landing-right-bottom {
    background-color: #f1f1f1;
    color: #000;
}

.cutting-sidebar {
    background-color: $cutting-blue;
}

.cutting-history-title,
.cutting-work-title,
.cutting-tab:hover {
    color: $cutting-blue;
}