.landing-page-container {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.landing-left {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color: lightblue;

    display: flex;
    justify-content: center;
    align-items: center;

    &-title {
        font-size: 2.5rem;
        color: #fff;
    }
}

.landing-right-top {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-color: lightgreen;
}

.landing-right-bottom {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: coral;
}

.landing-left,
.landing-right-top,
.landing-right-bottom {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.album-list {
    list-style: none;
}

.landing-right-top,
.landing-right-bottom {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.landing-right-top-title {
    font-size: 2rem;
    font-weight: 400;
}

.album-list {
    padding-top: 2rem;

    &-song {
        padding-left: .5rem;
        font-size: 1.5rem;
        font-weight: 300;
    }
}

.landing-cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-title {
        font-size: 2rem;
        font-weight: 400;
    }

    &-arrow {
        width: 40px;
    }
}

.landing-left-title {
    font-size: 3rem;
}

// Bottom Main Grid //

.page-main {
    padding-left: 4rem;

    display: grid;
    grid-column-gap: 10rem;
    grid-template-columns: 7fr 2fr;
    grid-template-rows: 150px 150px 1fr 150px;
    grid-template-areas:
        "social sidebar"
        "tabs sidebar"
        "panel sidebar"
        "footer sidebar";
}

.social {
    grid-area: social;

    display: flex;
    align-items: flex-end;

    &-link {
        margin-right: .5rem;
    }
}

.tab-list {
    grid-area: tabs;
    list-style: none;

    &-tab {
        margin-right: 1rem;
        border-bottom: 1px solid #000;
        cursor: pointer;
        transition: color 200ms ease;
        font-size: 1.2rem;
    }
}

.panel {
    grid-area: panel;
}

.history-title,
.work-title {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.sidebar {
    grid-area: sidebar;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 6rem 4rem;

    &-fig:first-child {
        padding-bottom: 4rem;
    }
}

.page-footer { 
    grid-area: footer;
}

.tab-list,
.page-footer {
    display: flex;
    align-items: center;
}

.sidebar-fig {
    width: 290px;

    &-img {
        width: 100%;
        opacity: 0;
        transform: translate3d(-35%, 0, 0);
        transition: all 450ms ease;
    }

    &-img.slide-in {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.social-link {
    display: inline-block;
    width: 40px;

    &-icon {
        width: 100%;
    }
}


p + p {
    margin-top: 2rem;
}

.panel {
    display: none;
}

.panel.-showing {
    display: block;
    animation: fadeIn 1200ms ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

// Smaller Screen Devices //
@media screen and (max-width: 56.25em) {
    .landing-page-container {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
    }    

    .landing-left {
        grid-column: 1 / -1;
        grid-row: 1 / 2;
    
        display: flex;
        justify-content: center;
        align-items: center;
    
        &-title {
            font-size: 2rem;
        }
    }

    .landing-right-top {
        grid-column: 1 / -1;
        grid-row: 2 / 3;
    }
    
    .landing-right-bottom {
        grid-column: 1 / -1;
        grid-row: 3 / 4;
    }

    .page-main {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    
        display: grid;
        grid-column-gap: 2rem;
        grid-template-columns: 7fr 2fr;
        grid-template-rows: 150px 150px 1fr 150px;
        grid-template-areas:
            "social social"
            "tabs tabs"
            "panel panel"
            "sidebar sidebar"
            "sidebar sidebar"
            "footer footer";
    }

    .sidebar {
        margin-top: 2rem;
    }

    .page-footer { 
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}