.landing-page-container {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.landing-left {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color: lightblue;

    display: flex;
    justify-content: center;
    align-items: center;

    &-title {
        font-size: 2.5rem;
        color: #fff;
    }
}

.landing-right-top {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-color: lightgreen;
}

.landing-right-bottom {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: coral;
}

.landing-left,
.landing-right-top,
.landing-right-bottom {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.album-list {
    list-style: none;
}

.landing-right-top,
.landing-right-bottom {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.landing-right-top-title {
    font-size: 2rem;
    font-weight: 400;
}

.album-list {
    padding-top: 2rem;

    &-song {
        padding-left: .5rem;
        font-size: 1.5rem;
        font-weight: 300;
    }
}

.landing-cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-title {
        font-size: 2rem;
        font-weight: 400;
    }

    &-arrow {
        width: 40px;
    }
}

.landing-left-title {
    font-size: 3rem;
}