$light-purple: #7d7bd8;

.uv-landing-left {
    background-image: url(../../images/pictures/purple-rain.jpg);
}

.uv-landing-right-top {
    background-color: $light-purple;
}

.uv-landing-right-bottom {
    background-image: url(../../images/pictures/fashion-woman-holding-record.jpg);
    background-position: top center;
}

.uv-sidebar {
    background-color: $light-purple;
}

.uv-history-title,
.uv-work-title,
.uv-tab:hover {
    color: $light-purple;
}