* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
    letter-spacing: .03em;
    scroll-behavior: smooth;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: inherit;
}

@import "home";
@import "nav";
@import "header-page";
@import "landing-page";
@import "ultraviolet";
@import "liquid-marble";
@import "cutting-edge";